# Database
# 範例: DATABASE_URL=postgresql://username:password@database/database?sslmode=require&channel_binding=require
# 或:   DATABASE_URL=mysql://username:password@localhost:3306/database
DATABASE_URL=
DATABASE_MYSQL_SSL=false

# Redis
# 範例: REDIS_URL=redis://default:password@localhost:6379/0 或 REDIS_URL=localhost:6379/0
REDIS_URL=

# JWT
JWT_SECRET_KEY=
JWT_ALGORITHM=
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=
JWT_REFRESH_TOKEN_EXPIRE_DAYS=

# Cookie
COOKIE_AUTH_NAME="auth"
# 7 days in seconds
COOKIE_AUTH_MAX_AGE=604800
COOKIE_AUTH_LOGIN_STATE_NAME="oauth_state"
# 5 minutes in seconds
COOKIE_AUTH_LOGIN_STATE_MAX_AGE=300
COOKIE_2FA_REQUIRED_NAME="2fa_required"
# 5 minutes in seconds
COOKIE_2FA_MAX_AGE=300
# JS 無法讀
COOKIE_HTTPONLY=True
# 7 days in seconds
COOKIE_MAX_AGE=604800
# Cookie 適用路徑
COOKIE_PATH="/"
# CSRF 防護, lax: 同站請求攜帶 cookie, 跨站部分請求攜帶 cookie; strict: 完全不攜帶; none: 全部攜帶
COOKIE_SAMESITE="lax"
# 僅 HTTPS 傳輸
COOKIE_SECURE=True

# S3
S3_ENDPOINT_URL=
S3_REGION=
S3_BUCKET=
S3_ACCESS_KEY=
S3_SECRET_KEY=

# Email
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_FROM=

# Logging
LOG_LEVEL=
LOG_DIR=

# Discord OAuth2 Credentials
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=
DISCORD_OAUTH2_SCOPE=identify email guilds

# 網站位址, 用於第三方登入後重定向, 以及 Email 內的連結
SITE_URL=http://localhost

CORS_ORIGINS=http://localhost:3000,http://localhost:5173